*,html
{
  font-family:Helvetica, Arial,sans-serif;
  font-size:12px;
  margin:0;
  padding:0;
}

a
{
  color:#09C;
  cursor:pointer;
}

body
{
  background-color:#f2f2f2;
  margin:10px;
}

small
{
  display:block;
  font-size:10px;
}

h1
{
  font-size:30px;
  font-family:Georgia, "Times New Roman", serif;
  letter-spacing:-2px;
  text-align:center;
}

h2
{
  font-size:30px;
  letter-spacing:-1.8px;
  margin:10px 0 0;
}

p
{
  font-size:14px;
  position:relative;
  margin:30px 0 20px;
}

.round-small
{
  border-radius:2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
}

.shadow
{
  -webkit-box-shadow:0 0 6px #B2B2A3;
  -moz-box-shadow:0 0 6px #B2B2A3;
  box-shadow:0 0 6px #B2B2A3;
}

.shadow-dark
{
  -webkit-box-shadow:0 0 3px #000;
  -moz-box-shadow:0 0 3px #000;
  box-shadow:0 0 3px #000;
}

div#container
{
  width:445px;
  background-color:#fff;
  border:2px solid #ccc;
  margin:0 auto;
  padding:12px;
}

div.form-tag
{
  position:absolute;
  top:0;
  left:0;
  z-index:1000;
  background-color:#f5f5f5;
  padding:6px;
}

div.form-tag input[type="text"]
{
  border:1px solid #B2B2A3;
  width:150px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
  -webkit-border-top-right-radius:0;
  -webkit-border-bottom-right-radius:0;
  -moz-border-radius-topright:0;
  -moz-border-radius-bottomright:0;
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  -webkit-box-shadow:inset 0 0 4px #B2B2A3;
  -moz-box-shadow:inset 0 0 4px #B2B2A3;
  box-shadow:inset 0 0 4px #B2B2A3;
  padding:6px;
}

span.tag
{
  position:absolute;
  border:1px solid #df0d32;
  background-color:rgba(255,255,255,0.2);
  display:inline-block;
  font-weight:300;
  color:#df0d32;
}